body {
    margin: 0 !important;
    padding: 0 !important;
}

.about-sign-in {
    height: 80px;
    width: 100%;
    float: right;
}
.banner {
    height: 500px;
    background: url(./banner.jpg) center center no-repeat;
}